{% extends "paginasweb/modelos/index.html" %}

{% block conteudo %}

<div class="container py-5">
    <h2 class="mb-4 text-center">{{ title }}</h2>

    <div class="alert alert-warning fs-5 text-center">
        Tem certeza que deseja excluir este item?
        <p><strong>{{ title }}</strong> {{ object.name }} ?</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <form method="post">
                {% csrf_token %}
                
                <button type="submit" class="btn btn-danger m-2">Excluir</button>
                <a href="javascript:history.back()" class="btn btn-outline-secondary m-2">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock conteudo %}
