{% extends "paginasweb/modelos/index.html" %}
{% load static %}

{% block conteudo %}
<div class="container py-5">
    <h2 class="mb-4">Painel de Gerenciamento</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <!-- Categoria -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="text-uppercase fw-bold small mb-3">Categoria</h5>
                    <a href="{% url 'cadastrar-categoria' %}" class="btn btn-sm btn-success mb-2 w-100">Adicionar</a>
                    <a href="{% url 'listar-categoria' %}" class="btn btn-sm btn-primary mb-2 w-100">Listar</a>
                </div>
            </div>
        </div>

        <!-- Produto -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="text-uppercase fw-bold small mb-3">Produto</h5>
                    <a href="{% url 'cadastrar-produto' %}" class="btn btn-sm btn-success mb-2 w-100">Adicionar</a>
                    <a href="{% url 'listar-produto' %}" class="btn btn-sm btn-primary mb-2 w-100">Listar</a>
                </div>
            </div>
        </div>

        <!-- Avaliação -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="text-uppercase fw-bold small mb-3">Avaliação</h5>
                    <a href="{% url 'cadastrar-avaliacao' %}" class="btn btn-sm btn-success mb-2 w-100">Adicionar</a>
                    <a href="{% url 'listar-avaliacao' %}" class="btn btn-sm btn-primary mb-2 w-100">Listar</a>
                </div>
            </div>
        </div>

        <!-- Estoque -->
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="text-uppercase fw-bold small mb-3">Estoque</h5>
                    <a href="{% url 'cadastrar-estoque' %}" class="btn btn-sm btn-success mb-2 w-100">Adicionar</a>
                    <a href="{% url 'listar-estoque' %}" class="btn btn-sm btn-primary mb-2 w-100">Listar</a>
                </div>
            </div>
        </div>
</div>
{% endblock conteudo %}
