{% extends "paginasweb/modelos/index.html" %}
{% load static %}

{% block header %}
<div class="container my-4">
    <div class="row text-center">
        <h1 class="display-6 fw-bolder mb-3">
            <span class="text-gradient d-inline">Categorias</span>
        </h1>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <a href="{% url 'cadastrar-categoria' %}" class="btn btn-primary me-2">+ Adicionar Categoria</a>
            <a href="{% url 'manage' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
{% endblock header %}

{% block conteudo %}
<div>

    <form method="get">
        {{ filter.form.as_p }} 
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>

    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        Opções
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-warning fw-bold" href="{% url 'editar-categoria' object.pk %}">Editar</a></li>
                        <li><a class="dropdown-item link-danger fw-bold" href="{% url 'excluir-categoria' object.pk %}">Excluir</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Nenhuma categoria encontrada.</td></tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="text-center my-3">
        <span class="page-link">Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}</span>
    </div>

<div class="pagination-container">
    <nav>
        <ul class="pagination justify-content-center">
            {% if object_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" aria-label="Primeira Página">Primeira</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ object_list.previous_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" aria-label="Página Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Primeira</span></li>
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for num in object_list.paginator.page_range %}
                {% if object_list.number == num %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if object_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ object_list.next_page_number }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" aria-label="Próxima Página">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ object_list.paginator.num_pages }}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" aria-label="Última Página">Última</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                <li class="page-item disabled"><span class="page-link">Última</span></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock conteudo %}
